h1,
h2 {
    text-align: center;
}

h1 {
    color: #555;
}

a {
    color: #99f;
}

table {
    margin: 0 auto;
    table-layout: fixed;
    width: 600px;
    height: 400px;
    border: 0px solid #272822;
    border-collapse: collapse;
    background-color: white;
    border-radius: 20px;
}

td,
th {
    border: 0px solid #272822;
    text-align: center;
    table-layout: fixed;
}

th {
    color: blue;
    font-weight: bold;
    background-color: rgb(222, 226, 252);
}

th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sunday1 {
    /* background-color: rgb(253, 227, 227); */
    color: rgb(189, 10, 10)
}

.sat1 {
    /* background-color: rgb(191, 250, 206); */
    color: green
}

.gray1 {
    /* background-color: rgb(191, 250, 206); */
    color: rgb(194, 194, 194)
}

.yy1 {
    /* background-color: rgb(191, 250, 206); */
    color: rgb(48, 0, 0)
}

.ddd1 {
    width: 800px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -300px;
    border: 5px blue;
    border-radius: 70px;
    background-color: rgb(141, 204, 247);
}

.pre1 {
    width: 100px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-left: -50px;
    margin-top: -50px;
    top: 70%;
    left: 20%;
    border: 0px rgb(177, 7, 92);
    border-radius: 10px;
    background-color: rgb(255, 224, 45);
}

.next1 {
    width: 100px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-left: -50px;
    margin-top: -50px;
    top: 70%;
    left: 80%;
    border: 0px rgb(155, 2, 22);
    border-radius: 70px;
    background-color: rgb(242, 255, 60);
}

.word1 {
    width: 600px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-left: -300px;
    margin-top: -50px;
    top: 90%;
    left: 50%;
    border: 0px rgb(155, 2, 22);
    border-radius: 70px;
    background-color: rgb(242, 255, 60);
}

.time1 {
    width: 600px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    margin-left: -300px;
    margin-top: -50px;
    top: 10%;
    left: 50%;
    border: 0px rgb(155, 2, 22);
    border-radius: 70px;
    background-color: rgb(255, 255, 255);
}

.rm1 {
    text-decoration: none
}